@using SharpIDE.Application.Features.SolutionDiscovery.VsPersistence

<div @onmouseover="@(() => _open = true)">
	<MudPopover Duration="100" OverflowBehavior="OverflowBehavior.FlipNever" Open="@true" AnchorOrigin="Origin.TopRight" TransformOrigin="Origin.TopRight">
		<div class="pl-2" @onmouseleave="@(() => _open = false)">
			<MudStack Justify="Justify.FlexEnd" Class="pa-0 ma-0" Spacing="0">
				<MudButton Disabled="true" Style="min-width: 20px; align-self: end">
					<MudIcon Icon="@Icons.Material.Filled.PlayArrow" Size="Size.Medium" Color="Color.Default"/>
				</MudButton>
					@if (SolutionModel?.AllProjects?.Count is >= 0)
					{
						@foreach (var project in SolutionModel.AllProjects)
						{
							<MudStack Row="true" Spacing="0" AlignItems="AlignItems.Center">
								<MudText>@project.Name</MudText>
								<MudSpacer/>
								<MudButton Style="min-width: 20px;">
									<MudIcon Icon="@Icons.Material.Filled.PlayArrow" Size="Size.Medium" Color="Color.Success"/>
								</MudButton>
							</MudStack>
						}
					}
			</MudStack>
		</div>
	</MudPopover>

	<MudButton Style="min-width: 20px;" >
		<MudIcon Icon="@Icons.Material.Filled.PlayArrow" Size="Size.Medium" Color="Color.Success"/>
	</MudButton>
</div>

@code {
	[Parameter, EditorRequired]
	public SharpIdeSolutionModel SolutionModel { get; set; } = null!;

	private bool _open = false;
}
